<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.saravanamurali.farmersgen">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />


    <application
        android:allowBackup="true"
        android:icon="@drawable/icon_logo"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:noHistory="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".SplashActivity"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme.NoActionAndStatusBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".tappedactivity.HomeActivity"
            android:label=""
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".signin.LoginActivity" />
        <activity android:name=".DummyActivity" />
        <activity android:name=".signup.SignupActivity" />
        <activity android:name=".fragment.Product_List_Activity"

            />
        <activity android:name=".baseurl.Device_ID_Activity" />
        <activity android:name=".fragment.ViewCartActivity" />

        <meta-data
            android:name="io.fabric.ApiKey"
            android:value="4454fe85492ece55bb64d212ce9f0a682326f914" />

        <activity android:name=".signup.OTPActivity" />
        <activity android:name=".paymentgateway.PaymentGatewayActivity" />
        <activity android:name=".address.Add_Address_Activity" />
        <activity android:name=".address.ExistingAddressActivity" />
        <activity android:name=".signin.ForgetPassword" />
        <activity android:name=".signin.MenuAccountFragmentLoginActivity" />
        <activity android:name=".paymentgateway.COD_Details_Activity" />
        <activity
            android:name=".address.UpdateAddress_Activity"
            android:parentActivityName=".address.ExistingAddressActivity" />
        <activity android:name=".signin.NewPassAndConfirmPass" />
        <activity android:name=".signup.OTPActForSuccRegistrationAtViewCart" />
        <activity android:name=".signin.LoginActivityForViewCart" />
        <activity android:name=".MainActivity" />
        <activity android:name=".fragment.ProfileUpdateActivity" />
        <activity android:name=".signin.LoginForgetPasswordActivity" />
        <activity android:name=".signin.OTPActivityForLoginForgetPassword" />
        <activity android:name=".signin.NewPassAndConfirmPassForLoginForgetPassword" />
        <activity android:name=".paymentgateway.ThanksActivity" />
        <activity android:name=".cancelorder.CancelOrderActivity" />
        <activity android:name=".cancelorder.OrderedProductListView" />
        <activity android:name=".pastorder.PastOrderListActivity" />
        <activity android:name=".pastorder.PastOrderedProductListView" />
        <activity android:name=".signup.RegisterUserAtCartActivity" />
        <activity android:name=".signup.OTPActivityForViewCart2" />
        <activity android:name=".signup.ExistingUser_ForgetPassword_AtViewCartActivity" />
        <activity android:name=".signup.ExistingUser_ForgetPassword_OTP_AtViewCartActivity" />
        <activity android:name=".signup.Existing_User_NewPassAndConfirmPass_AtViewCartActivity" />
        <activity
            android:name=".address.ExistingAddressActivity_AtMenuAccFragment"
            android:parentActivityName=".fragment.ViewCartActivity" />
        <activity android:name=".address.UpdateAddress_MenuAccFragment" />
        <activity android:name=".coupon.CouponActivity" />
        <activity android:name=".review.BrandReviewActivity" />
        <activity android:name=".review.ReviewPostActivity" />
        <activity android:name=".signin.LoginForgetPasswordActivityAtViewCart" />
        <activity android:name=".signin.OTPActivityForLoginForgetPasswordAtViewCart" />
        <activity android:name=".signin.NewPassAndConfirmPassForLoginForgetPassword_At_ViewCart" />
        <activity android:name=".productdescription.ProductDescriptionActivity" />
        <activity android:name=".review.ProductReviewActivity" />
        <activity android:name=".favourite.FavouriteListActivity"></activity>
    </application>

</manifest>
